[Desktop Entry]
Encoding=UTF-8
Name=ABP
Comment=ABP P2P Cryptocurrency
Comment[fr]=ABP, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ABP, eşten eşe kriptografik sanal para birimi
Exec=abp-qt %u
Terminal=false
Type=Application
Icon=abp128
MimeType=x-scheme-handler/abp;
Categories=Office;Finance;
