[Unit]
Description=ABP's distributed currency daemon
After=network.target

[Service]
User=abp
Group=abp

Type=forking
PIDFile=/var/lib/abpd/abpd.pid

ExecStart=/usr/bin/abpd -daemon -pid=/var/lib/abpd/abpd.pid \
          -conf=/etc/abp/abp.conf -datadir=/var/lib/abpd

ExecStop=-/usr/bin/abp-cli -conf=/etc/abp/abp.conf \
         -datadir=/var/lib/abpd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
